 * {
    margin: 0;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 120px;
    height: 120px;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 104px;
    height: 104px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(0, 0, 0);
    border-color: #14a76c transparent #14a76c transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }